body{margin: 0;
    font-family: Cairo, sans;}
    #header_top{
        background-color: #F5F5F5;
        width: 100%;
        height: 8vh;
        display: grid;
        grid-template-columns: 15% 35% 35% 15%;
        
    }
    .column{
       
        display: flex;
        align-items: center;
        padding: 10px;
    
    }
    .column ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
        margin: 0; 
        padding: 0;
    }
    .column li{
        display: flex;
        align-items: center;
    }
    .column svg{
        height: 14px;
        width: 14px;
        margin-right: 5px; 
    }
    .column2{
        
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px;
    }
    .column2 ul{
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    .column2 svg{
        height: 14px;
        width: 14px;
        margin-right: 5px; 
    }
    .barra{
        height: 20px;
        width: 1px;
        background-color: #d4d3d3;
        margin-right: 25px;
        margin-left: 25px;
    }
    .Redes_sociais{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 30%;
    }
    .barraR{
        height: 20px;
        width: 1px;
        background-color: #d4d3d3;
        margin-right: 25px;
    }
    .lingua{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    .lingua img{
        margin-right: 13px;
    }
    .lingua svg{
        margin-left: 10px;
        width: 10px;
        height: 10px;
    }
    #lingua-drop{
        position: relative;
    }
    #menu-drop2{
        position: absolute;
        list-style: none;
        padding: 0;
        padding-left: 10px;
        width: 180%; 
        background-color: #1C1C1C;
        color: #FFFFFF;
        opacity: 0;
        z-index: -10;
        transition: opacity 0.3s ease;
        top: 100%;
        left: 0;
    }
    #lingua-drop:hover #menu-drop2{
        opacity: 1;
        z-index: 10;
    }
    #container{
        width: 100%;
        height: 10vh;
        display: grid;
        grid-template-columns: 15% 20% 35% 15% 15%;
    }
    .coluna{
        display: flex;
        align-items: center;
    }
    .coluna img{
        height: 50px;
    }
    .coluna3{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .coluna3 ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        font-weight: bold;
        text-align: left;
        padding: 0;
    }
    .coluna3 a{
        text-decoration: none;
        color: #1C1C1C;
    }
    #nav-drop{
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 0;
        align-items: center;
        height: 100%;
    }
    #drop{
        position: relative;
    }
    #menu-drop{
        position: absolute;
        list-style: none;
        padding: 0;
        padding-left: 10px;
        width: 300%;
        background-color: #1C1C1C;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        opacity: 0;
        z-index: -10;
        font-weight: lighter;
        font-size: 14px;
    }
    #drop:hover>#menu-drop{
        opacity: 1;
        z-index: 10;
    }
    #menu-drop li:hover{
        color: #7cb342;
    }
    .select a{
        color: #7FAD39;
    }
    .coluna svg{
        height: 18px;
        width: 18px;
    }
    .coluna4{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
        
    }
    .coluna4 svg{
        height: 18px;
        width: 18px;
        margin-right: 15px;
    }
    .item{
        margin-left: 10px;
    }
.item span{
    font-weight: bolder;
    color: #252525;
}
#main1{
    display: grid;
    grid-template-columns: 15% 1fr 1fr 1fr 1fr 15%;
    grid-template-rows: 80px 20px 164.2px;
}
.dropdown{
    grid-column: 2;
    grid-row: 1/3;
    position: relative;
}
#dropbtn {
    background-color: #8BC34A;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120%;
    margin-top: 18px;
}
      
.icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
      
.dropbtn svg:last-child {
    margin-left: auto;
}
      
.dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
}
      
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}
      
.dropdown-content li {
    padding: 5.8px 16px;
    text-decoration: none;
    display: block;
    color: black;
}
      
.dropdown-content li:hover {
    background-color: #ddd;
}
      
.dropdown:hover .dropdown-content {
    display: block;
}
    
#busca{
    grid-column: 3/6;
    grid-row: 1;
    display: grid;
    grid-template-columns: 72% 28%;
}
.caixaBusca{
    margin: 18px;
    margin-left: 20px;
    border: 1px solid #d4d3d3;
    display: flex;
    align-items: center;
    height: 4.8vh;
        
}
.caixaBusca input{
    border: none;
    flex: 1; 
    min-width: 200px; 
    height: 50%;
    padding: 10px;
}
.botao1{
    background-color: #7FAD39;
    border: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    padding: 13px 20px;
    height: 100%;
}
.All{
    font-weight: bolder;
    margin-left: 20px;
 
}
.caixaBusca svg{
    width: 8px;
    height: 8px;
    fill: #7FAD39;
}
.barraB{
    height: 20px;
    width: 1px;
    background-color: #d4d3d3;
    margin-right: 25px;
    margin-left: 15px;
}
.numeros{
    display: flex;
    flex-direction: row;
    
}
.tell{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 70%;
    color: #6f6f6f;
    font-size: 14px;
}
.tell h5{
    margin: 0;
    margin-bottom: 2px;
    font-size: 18px;
    color: #1C1C1C;
}
.telIcone{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.telIcone svg{
    width: 22%;
    border-radius: 50%;
    background-color: #F5F5F5;
    padding: 17px;
}
#ImgDestaque{
    background-image: url(breadcrumb.jpg);
    background-size: cover;
    grid-row: 3;
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ImgDestaque h1{
    font-size: 46px;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    padding: 0;
    height: 10vh;
}
#linkTitulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-top: 0;
    padding-top: 0;
}
#linkTitulo a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}
#linkTitulo svg{
    width: 2.8%;
    margin-left: 1px;
    margin-right: 12px;
    margin-bottom: 5px;
    margin-top: 0;
}
#main2{
    display: grid;
    grid-template-columns: 15% 1fr 1fr 1fr 15%;
    grid-gap: 30px;
    grid-template-rows: 100px 530px 530px 530px 20px 1px 100px 420px;
}
#LateralEsquerda{
    grid-column: 2;
    grid-row: 2/4;
    display: grid;
    grid-template-rows: 10% 35% 35% 20%;
}
.pesq {
    grid-row: 1;
    display: flex;
    align-items: center;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    padding: 0 10px;
    height: 48px;
    margin-top: 45px;
    margin-bottom: 35px;
}

.pesq input {
    border: none;
    outline: none;
    padding-left: 15px;
    flex: 1;
    font-size: 16px;
    color: #6f6f6f;
}

.pesq button {
    background: none;
    border: none;
    cursor: pointer;
}

.pesq button svg {
    width: 16px;
    height: 16px;
}
.categories {
    grid-row: 2;
}

.categories h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.categoriesList {
    list-style: none; 
    padding: 0;
    margin: 0; 
}

.categoriesList li {
    margin-bottom: 10px;
}

.categoriesList a {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 16px;
    display: block;
    padding: 5px 0;
}
.RecentNews{
    grid-row: 3;
}
.RecentNews h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.RecentNews {
    display: flex;
    flex-direction: column;
}
#New img{
    width: 75px;
    height: 75px;
}
#New{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.destaqueNew{
    font-size: 16px;
    font-weight: 700;
    margin-right: 15px;
    margin-left: 20px;
    line-height: 20px;
}
.TextosNews span{
    font-size: 12px;
    columns: #999999;
    margin-left: 20px;
}

#SearchBy{
    grid-row: 4;
}
#SearchBy h2{
    font-size: 24px;
    margin-bottom: 20px;
}
#Quadradinho a{
    font-size: 16px;
    color: #6f6f6f;
    background: #f5f5f5;
    display: inline-block;
    padding: 7px 26px 5px;
    margin-right: 6px;
    margin-bottom: 10px;
    text-decoration: none;
}

#cont img{
    width: 100%;
    height: 35vh;
}
.cont1{
    grid-column: 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}
.cont2{
    grid-column: 4;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}
.cont3{
    grid-column: 3;
    grid-row: 3;
    display: flex;
    flex-direction: column;
}
.cont4{
    grid-column: 4;
    grid-row: 3;
    display: flex;
    flex-direction: column;
}
.cont5{
    grid-column: 3;
    grid-row: 4;
    display: flex;
    flex-direction: column;
}
.cont6{
    grid-column: 4;
    grid-row: 4;
    display: flex;
    flex-direction: column;
}
.calendario{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #b2b2b2;
    margin-top: 15px;
    margin-bottom: 15px;
}
.cal1{
    margin-right: 8%;
    font-size: 16px;
}
.cal2{
    font-size: 16px; 
}
.cal1 svg{
    width: 15px;
    height: 16px;
}
.cal2 svg{
    width: 16px;
    height: 16px;
}
.destaque{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.resto{
   font-size: 16px;
   color: #6f6f6f; 
}
.ReadMore{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 50%;
    padding: 7px 0px 7px;
    margin: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    border: solid 1px #b2b2b2;
}
.ReadMore a{
    text-decoration: none;
    color: #1C1C1C;
}
.ReadMore svg{
    width: 20px;
    height: 10px;
    margin-left: 9px;
}
#linha{
    grid-row: 6;
    grid-column: 3/5;
    background-color: #b2b2b2;
}
#pagination{
    grid-column: 3;
    grid-row: 7;
    position: relative;
}
#pagination a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #b2b2b2;
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-right: 16px;
    text-decoration: none;
}
#pagination svg{
    width: 14px;
    height: 14px;
    margin-top: 7px;
}
#pagination a:hover{
    background-color: #8BC34A;
    color: #ffffff;
}
#pagination a svg:hover{
    fill: #ffffff;
}
#rodape{
    grid-row: 8; 
    grid-column: 1/6;
    background-color: #F3F6FA;
    display: grid;
    grid-template-columns: 15% 20% 25% 25% 15%;
    grid-template-rows: 1fr 5fr 1fr;
}
.logo{
    
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}
.logop{
    margin-top: 8px;
    margin-bottom: 8px;
}
.logo img{
    margin-bottom: 5px;
}
.links{

    grid-row: 2;
    grid-column: 3;
}
.links h6{
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}
#homeul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#homeul ul{
    list-style: none;
    text-decoration: none;
    text-align: left;
    margin: 0;
    padding: 0;
    flex: 1;
}
#homeul ul li {
    margin-bottom: 15px;
}
#homeul a{
    text-decoration: none;
    color: #1C1C1C;
}
.joinEmail{
    grid-row: 2;
    grid-column: 4;
}
.joinEmail h6{
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}
.newsletter-input {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.newsletter-input input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    width: 70%;
}

.newsletter-input button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8bc34a;
    color: white;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.newsletter-input button:hover {
    background-color: #7cb342;
}
.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.social-icons a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e7e7e7;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.social-icons a:hover {
    background-color: #7cb342; 
}
.social-icons a svg, .social-icons a i {
    fill: #404040;
    transition: fill 0.3s; 
    width: 15px;
    height: 15px; 
}

.social-icons a:hover svg, .social-icons a:hover i {
    fill: #ffffff;
}
.social-icons i, .social-icons svg {
    width: 20px;
    height: 20px;
    fill: #404040;
}
.arroba{
    grid-row: 3;
    grid-column: 2/4;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.arroba svg{
    width: 16px;
    height: 16px;
    color: #636363;
    margin-left: 5px;
    margin-right: 5px;
}
.arroba a{
    margin-left: 5px;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.arroba a:hover{
    outline: none;
    color: #ffffff;
}
.bandeiras{
    grid-row: 3;
    grid-column: 4;
    display: flex;
    justify-content: center;
    align-items: center
}
.bandeira img{
    width: 50%;
    display: block;
}
.joinEmail p{
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 1.8;
}

